<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6247733141-hdgfr1l8iceubu3i7ievajseoim3bcc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6247733141-hdgfr1l8iceubu3i7ievajseoim3bcc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6247733141-g18k510a8vd567lf77n38vc8o2goh6uq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIN-TB2B10MObJXmEsjr6KQkUsQrJ2Xc8</string>
	<key>GCM_SENDER_ID</key>
	<string>6247733141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.blackiq.timetracker.flutterTimeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-f3ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-f3ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6247733141:ios:1d1d016f36318bd874489c</string>
</dict>
</plist>